body {
    margin: 0;
    padding: 2rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  #profile_img {
    border-radius: 10rem;
    width: 6rem;
  }
  
  #profile_text {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0;
  }

  #slack {
    display: none;
  }
  
  #twitter {
    margin: 0;
  }

  #twitter, #btn_zuri, #books, #book_python, #pitch, #book__design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: #101828;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 2rem 1rem;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
  }