body {
    margin: 0;
    padding: 2rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }